@font-face {
  font-family: glitch;
  src: url(fonts/Doctor-Glitch.otf);
}

@font-face {
  font-family: mort;
  src: url(fonts/Mortend-Bold.otf);
}

@font-face {
font-family: helvetica bold;
src: url(fonts/HelveticaNeueLTStd-Bd.otf);
}
@font-face {
  font-family: helvetica;
  src: url(fonts/HelveticaNeueLTStd-Md.otf);
}


body {
  text-align: center;
  background-color: black;
}

.drop-bg {
    background-image: url(images/ascii/water-drop-ascii-LAN-2.gif);
    background-size: contain;
    height: 100vh;
}

a {
  color: deepskyblue;
  font-family: helvetica;
}

.header {
  color: deepskyblue;
  text-align: left;
  font-size: 100px;
  font-family: glitch;
  margin-right: 800px;
  letter-spacing: 10px;
}

h2 {
  color: deepskyblue;
  text-align: left;
  font-size: 50px;
  font-family: helvetica bold;
}

.poem {
  color: white;
  margin: auto;
  width: 50%;
  text-align: center;
  font-family: helvetica;
  font-size: 15px;
  margin-top: 200px;
  max-width: 400px;
  position: relative;
}


p {
  color: white;
  text-align: left;
  font-family: helvetica;
  font-size: 20px;
  margin: 0px 70px;
  max-width: 900px;
}

p1 { 
color: gray;
font-size: 10; 
}

img {
    object-fit: contain;
     display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.drop {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightblue;
  animation-name: droplet;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  margin: auto;
}

@keyframes droplet {
  100% {transform: scale(10.0);
    background-color: transparent;}

}

.ascii-art {
    color: white;
    font-family: monospace;
    font-size: 5px;
    white-space: pre;
    letter-spacing: 0.3px;
    animation: fade 1s linear;
}

@keyframes fade {
  2%, 64% {color: deepskyblue;}

  4%,60% {color: black}

  62%{color: transparent;}
}

.container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  max-width: 50%;
  margin: auto;

}

.bubble {
  background-color: deepskyblue;
  max-width: fit-content;
  border-radius: 30px;
  padding: 4%;
  font-family: helvetica;
  font-size: 15px;
  color: black;
  text-align: left;
  margin: auto;
  margin-top: 3%;
}